.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.calculator {
  width: 150px;
  border: solid black 2px;
  border-radius: 10%;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.non-zero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  background-color: rgb(3, 54, 112);
  color: white;
  border-radius: 20%;
  height: 30px;
  width: 30px;
}
button:hover {
  background-color: rgb(116, 192, 246);
}
.numberKey {
background-color: rgb(70, 64, 55);
color: wheat;
}
.numberKey:hover {
  background-color: rgb(49, 44, 24);
}
.math {
  background-color: rgb(16, 111, 9);
  color: white;
}
.math:hover {
  background-color: rgb(4, 75, 28); 
}
.equal {
  background-color: rgb(185, 130, 13);
}

.number-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zero-line {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 10px;
}

.keypad {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.screen {
  align-self: center;
  height: 40px;
  width: 150px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(181, 198, 224); 
  margin: 10px;
  overflow:hidden;
}

.other-button-container{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-left: 10px;
}