.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.calculator {
  width: 150px;
  border: solid black 2px;
  border-radius: 10%;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.non-zero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  background-color: rgb(245, 225, 158);
  border-radius: 20%;
  height: 30px;
  width: 30px;
}

.number-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zero-line {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 10px;
}

.keypad {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.screen {
  align-self: center;
  height: 40px;
  width: 150px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(181, 198, 224); 
  margin: 10px;
}

.other-button-container{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-left: 10px;
}